.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1; /*Distribuir los espacios de manera equitativa */
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background: #1b1b32;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none; /*El texto no puede ser seleccionado por el raton */
}

.boton-contenedor:hover{
    background: #5a01a7;
}

.operador{
    background: #00471b;
}

.operador:hover{
    background: #ff6600;
}

